#header {
  text-align:center;
  font-size:4.54545455vw;
  font-family:"Times New Roman",Times,serif;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:1.6vw;
  padding-bottom:1.6vw;
}
#nav ul {
  margin-left:0em;
  margin-right:0em;
  margin-top:0px;
  margin-bottom:0px;
  padding-left:0em;
}
#nav li {
  list-style-type:none;
  text-align:center;
  float:left;
  background-color:black;
}
#nav a {
  text-decoration:none;
  display:block;
  font-weight:bold;
  color:white;
  font-size:1.85185185vw;
  padding-top:0.6em;
  padding-bottom:0.6em;
  font-family:"Times New Roman",Times,serif;
}
#nav a:hover {
  color:blue;
} 
#home {
  width:7.40740741%;
}
#equipment {
  width:44.4444444%;
}
#pricing {
  width:38.8888889%;
}
#staff {
  width:9.25925926%;
}
body {
  background-color:rgba(245,245,245,1);
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
#services {
  text-align:center;
  font-size:2vw;
  font-family:"Times New Roman",Times,serif;
}
#priceimage {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:75vw;
}
#headerpricingimg {
  text-align:center;
  font-family:"Times New Roman",Times,serif;
  font-size:4vw;
  margin-top:0em;
  margin-bottom:0em;
}
#benefitsexplaination {
  text-align:center;
  font-family:"Times New Roman",Times,serif;
  font-size:1.5vw;
  margin-top:0em;
  margin-bottom:0em;
  color:rgba(0, 0, 102, 0.7);
}
#benefitsheader {
  text-align:center;
  font-family:"Times New Roman",Times,serif;
  font-size:3vw;
  margin-top:0em;
  margin-bottom:0em;
  font-weight:bold;
  color:rgba(0, 0, 77, 1);
}
#equipmentlist {
  text-align:center;
  font-family:"Times New Roman",Times,serif;
  font-size:2.5vw;
  margin-top:0em;
  margin-bottom:0em;
  color:rgba(0, 0, 102, 0.7);
}
#equipmentimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15vw;
  border: 5px solid black;
}
#head {
  background-image:linear-gradient(135deg,rgba(0, 134, 179, 1),rgba(196, 77, 255, 1)); 
}
